---
import SidebarLayout from './Sidebar.astro';
import type { CollectionEntry } from 'astro:content';

interface Props {
	project: CollectionEntry<"project">;
}

const { project } = Astro.props
const { 
	data: {
		title,
		pubDate,
		description,
		heroImage,
		platform,
		stack,
		website,
		github
}} = project;
const publishedTime = pubDate.toISOString();
---
<SidebarLayout title={title} description={description} type="article" publishedTime={publishedTime} tags={stack}>
	<article class="space-y-8">
		<h1 class="text-3xl font-semibold tracking-tight sm:text-4xl">{title}</h1>

		{
			heroImage && 
			<div class="aspect-h-9 aspect-w-16 mb-6 w-full">
				<img src={heroImage.url} alt={heroImage.alt} />
			</div>
		}

		<ul class="space-y-3 text-sm">
			{ platform && 
				<li class="project-frontmatter-item">
					<small>PLATFORM</small>
					<span>{platform}</span>
				</li>
			}
			{ stack && 
				<li class="project-frontmatter-item">
					<small>STACK</small>
					<ul class="inline-flex flex-wrap gap-x-3">
						{stack.map((s: string) => ( 
							<li class="tag">{s}</li>
						))}
					</ul>
				</li> 
			}
			{ website &&
				<li class="project-frontmatter-item">
					<small>WEBSITE</small>
					<a href={website} target="_blank" class="cody-link">{website}</a>
				</li>
			}
			{ github && 
				<li class="project-frontmatter-item">
					<small>GITHUB</small>
					<a href={github} target="_blank" class="cody-link">{github}</a>
				</li>
			}
		</ul>

		<hr/>

		<div class="prose prose-cody max-w-none dark:prose-invert">
			<slot />
		</div>
	</article>
</SidebarLayout>

<style>
	small {
		@apply mr-2 min-w-[95px] font-medium text-[var(--theme-muted)];
	}

	.project-frontmatter-item {
		@apply flex flex-col gap-x-0 sm:flex-row;
	}
</style>
