---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro';
import { siteConfig } from "../consts.ts";

interface Props {
		title?: string;
		description?: string;
		image?: string;
		type?: 'website' | 'article';
		publishedTime?: string;
		modifiedTime?: string;
		tags?: string[];
}

const { 
	title = siteConfig.title, 
	description = siteConfig.description,
	image,
	type = 'website',
	publishedTime,
	modifiedTime,
	tags
	} = Astro.props;

---
<!doctype html>
<html lang={siteConfig.lang} class="dark">
	<head>
		<BaseHead
			title={title}
			description={description}
			image={image}
			type={type}
			publishedTime={publishedTime}
			modifiedTime={modifiedTime}
			tags={tags}
		/>
	</head>
	<body>
		<Header/>
		<main class="min-w-0 w-full">
			<slot/>
		</main>
		<Footer/>
	</body>
</html>
